@media only screen and (max-width: 1119px) {
  .App_wrap-blocks {
    width: 100%;
  }
  li,
  li:last-child {
    margin: 0 50px;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 480px) {
  .App_container h1 {
    font-size: 24px;
  }
  .App_wrap-blocks {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  li {
    margin-left: 0;
    margin-right: 0;
  }
}
